In [73]:
import pandas as pd
import numpy as np
import yfinance as yf
import kit  
import datetime

In [86]:
stock_2 = ["ANA","ACX","ACS","AENA","AMS","BBVA","SAB",
"SAN","BKT","CABK","CLNX","ENG","ELE","FER","GRF","IBE","IDR","ITX","IAG","MAP","TL5",
"MEL","MRL","NTGY","RED","REP","SGRE","TRE","TEF","VIS"]

In [87]:
df2 = yf.download(stock_2)
df2_ad = df2[['Adj Close']]
df2_ad.columns = df2_ad.columns.get_level_values(1)
df2_ad.index = df2_ad.index.tz_localize(None)
df2_ad.index = df2_ad.index.strftime('%Y-%m-%d')
ret_df2_ad = df2_ad.pct_change()
ret_df2_ad.fillna(0.0001,inplace=True)
ret_df2_ad.head()

[*********************100%***********************]  30 of 30 completed

4 Failed downloads:
['TL5', 'AENA', 'SGRE', 'NTGY']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_48340\2259678391.py:6: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  ret_df2_ad = df2_ad.pct_change()

Ticker,ACS,ACX,AENA,AMS,ANA,BBVA,BKT,CABK,CLNX,ELE,...,NTGY,RED,REP,SAB,SAN,SGRE,TEF,TL5,TRE,VIS
Date,,,,,,,,,,,,,,,,,,,,,
1984-07-03,0.0001,0.0001,0.0001,0.000100,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,...,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001
1984-07-05,0.0001,0.0001,0.0001,-0.043478,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,...,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001
1984-07-06,0.0001,0.0001,0.0001,0.000000,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,...,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001
1984-07-09,0.0001,0.0001,0.0001,0.000000,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,...,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001
1984-07-10,0.0001,0.0001,0.0001,0.000000,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,...,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001

In [5]:
# Estamos calculando la desviaciÃ³n estÃ¡ndar para cada una de las columnas, sustituyendo los NaN por 0.001

for i,  sc in enumerate (ret_df2_ad.columns):
    STD = ret_df2_ad[sc].std()
    print(f"La DesviaciÃ³n estÃ¡ndar de {sc} es {STD}")

La DesviaciÃ³n estÃ¡ndar de ACS es 17.683396300952683
La DesviaciÃ³n estÃ¡ndar de ACX es 0.10843219841004886
La DesviaciÃ³n estÃ¡ndar de AENA es 2.710638884621253e-20
La DesviaciÃ³n estÃ¡ndar de AMS es 0.053165648038647054
La DesviaciÃ³n estÃ¡ndar de ANA es 1.0389701207946034
La DesviaciÃ³n estÃ¡ndar de BBVA es 0.021468263979912233
La DesviaciÃ³n estÃ¡ndar de BKT es 0.00865277780970527
La DesviaciÃ³n estÃ¡ndar de CABK es 0.09042958922841504
La DesviaciÃ³n estÃ¡ndar de CLNX es 0.0006807050747726276
La DesviaciÃ³n estÃ¡ndar de ELE es 0.1921412158559705
La DesviaciÃ³n estÃ¡ndar de ENG es 0.05324078887257457
La DesviaciÃ³n estÃ¡ndar de FER es 0.09050947787751944
La DesviaciÃ³n estÃ¡ndar de GRF es 0.015482455920381605
La DesviaciÃ³n estÃ¡ndar de IAG es 0.026592917035369836
La DesviaciÃ³n estÃ¡ndar de IBE es 0.004593016386021041
La DesviaciÃ³n estÃ¡ndar de IDR es 0.07883642973093981
La DesviaciÃ³n estÃ¡ndar de ITX es 8.182179939351105
La DesviaciÃ³n estÃ¡ndar de MAP es 0.164978156975384
La DesviaciÃ³n estÃ¡ndar de MEL es 955.3778600817967
La DesviaciÃ³n estÃ¡ndar de MRL es 0.7858102603128411
La DesviaciÃ³n estÃ¡ndar de NTGY es 2.710638884621253e-20
La DesviaciÃ³n estÃ¡ndar de RED es 0.9823898190902722
La DesviaciÃ³n estÃ¡ndar de REP es 0.2531481233784503
La DesviaciÃ³n estÃ¡ndar de SAB es 0.006881974324499023
La DesviaciÃ³n estÃ¡ndar de SAN es 0.02183359940875113
La DesviaciÃ³n estÃ¡ndar de SGRE es 2.710638884621253e-20
La DesviaciÃ³n estÃ¡ndar de TEF es 0.017926665841472778
La DesviaciÃ³n estÃ¡ndar de TL5 es 2.710638884621253e-20
La DesviaciÃ³n estÃ¡ndar de TRE es 0.006540781206295543
La DesviaciÃ³n estÃ¡ndar de VIS es 0.009528823273288876

In [49]:
# para ANA, la fecha inicio es 2018-07-05 y la fecha fin es 2022-03-02
ANA = yf.download("ANA")
ANA_ad = ANA[['Adj Close']]
ANA_ad.index = ANA_ad.index.tz_localize(None)
r = ANA_ad.pct_change().dropna()
r
#r.fillna(0.0001,inplace=True)
#r.std()

[*********************100%***********************]  1 of 1 completed

            Adj Close
Date
2018-07-06   0.000000
2018-07-09   0.000000
2018-07-10  -0.147727
2018-07-11   0.000000
2018-07-12   0.000000
...               ...
2022-02-24   0.000000
2022-02-25   0.000000
2022-02-28   0.000000
2022-03-01   0.000000
2022-03-02   0.000000

[916 rows x 1 columns]

Adj Close    3.459496- Com valors NaN

-----------------------------------------------------------------------------------------------------------

In [12]:
for i in stock_2:
    inicio = df2_ad[i].first_valid_index()
    fin = df2_ad[i].last_valid_index()  
    print(f"para {i}, la fecha inicio es {inicio} y la fecha fin es {fin}")

para ANA, la fecha inicio es 2018-07-05 y la fecha fin es 2022-03-02
para ACX, la fecha inicio es 2005-04-22 y la fecha fin es 2018-06-28
para ACS, la fecha inicio es 1999-09-28 y la fecha fin es 2018-08-08
para AENA, la fecha inicio es None y la fecha fin es None
para AMS, la fecha inicio es 1984-07-03 y la fecha fin es 2024-10-18
para BBVA, la fecha inicio es 1988-12-15 y la fecha fin es 2024-10-18
para SAB, la fecha inicio es 2016-12-06 y la fecha fin es 2022-03-02
para SAN, la fecha inicio es 1987-07-30 y la fecha fin es 2024-10-18
para BKT, la fecha inicio es 1988-07-22 y la fecha fin es 2024-10-18
para CABK, la fecha inicio es 2001-10-09 y la fecha fin es 2022-03-02
para CLNX, la fecha inicio es 2018-05-31 y la fecha fin es 2018-06-28
para ENG, la fecha inicio es 1995-01-20 y la fecha fin es 2024-10-18
para ELE, la fecha inicio es 2000-01-04 y la fecha fin es 2018-06-28
para FER, la fecha inicio es 2012-08-13 y la fecha fin es 2024-10-18
para GRF, la fecha inicio es 2004-01-23 y la fecha fin es 2024-10-18
para IBE, la fecha inicio es 2007-12-28 y la fecha fin es 2018-06-28
para IDR, la fecha inicio es 1999-10-27 y la fecha fin es 2024-10-18
para ITX, la fecha inicio es 2007-11-20 y la fecha fin es 2018-06-28
para IAG, la fecha inicio es 2003-07-15 y la fecha fin es 2024-10-18
para MAP, la fecha inicio es 2014-10-03 y la fecha fin es 2018-06-28
para TL5, la fecha inicio es None y la fecha fin es None
para MEL, la fecha inicio es 2008-11-06 y la fecha fin es 2018-06-28
para MRL, la fecha inicio es 2011-01-21 y la fecha fin es 2018-06-28
para NTGY, la fecha inicio es None y la fecha fin es None
para RED, la fecha inicio es 2021-02-04 y la fecha fin es 2022-03-02
para REP, la fecha inicio es 2007-12-28 y la fecha fin es 2018-06-28
para SGRE, la fecha inicio es None y la fecha fin es None
para TRE, la fecha inicio es 2012-06-18 y la fecha fin es 2022-03-02
para TEF, la fecha inicio es 1987-06-12 y la fecha fin es 2024-10-18
para VIS, la fecha inicio es 2004-09-29 y la fecha fin es 2024-10-18

In [79]:
ANA = yf.Ticker("AMS")
dividendos = ANA.dividends
dividendos

Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64

## Dividendos

In [91]:

dividendos_info = {}

for i in stock_2:

    stock = yf.Ticker(i)
    dividendos = stock.dividends
    dividendos_info[i] = dividendos

    print(i,dividendos_info)

ANA {'ANA': Series([], Name: Dividends, dtype: float64)}
ACX {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64)}

$AENA: possibly delisted; no timezone found

ACS {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64)}
AENA {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object)}
AMS {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64}
BBVA {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64}
SAB {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64)}
SAN {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64}
BKT {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64}
CABK {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64)}
CLNX {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64)}
ENG {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64), 'ENG': Series([], Name: Dividends, dtype: float64)}
ELE {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64), 'ENG': Series([], Name: Dividends, dtype: float64), 'ELE': Series([], Name: Dividends, dtype: float64)}
FER {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000

$TL5: possibly delisted; no timezone found

IAG {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64), 'ENG': Series([], Name: Dividends, dtype: float64), 'ELE': Series([], Name: Dividends, dtype: float64), 'FER': Date
2013-12-10 00:00:00-05:00    0.526653
2014-07-02 00:00:00-04:00    0.388672
2014-11-04 00:00:00-05:00    0.476000
2019-11-06 00:00:00-05:00    0.452000
2020-05-14 00:00:00-04:00    0.338000
2020-11-04 00:00:00-05:00    0.235000
2021-05-13 00:00:00-04:00    0.238000
2021-11-03 00:00:00-04:00    0.353000
2022-05-11 00:00:00-04:00    0.293000
2022-11-03 00:00:00-04:00    0.407000
2023-07-05 00:00:00-04:00    0.312000
2023-10-25 00:00:00-04:00    0.453000
2024-05-20 00:00:00-04:00    0.330000
Name: Dividends, dtype: float64, 'GRF': Date
2004-12-16 00:00:00-05:00    0.170435
2005-12-19 00:00:00-05:00    0.165000
2006-06-22 00:00:00-04:00    0.500000
2006-12-18 00:00:00-05:00    0.687000
2007-12-12 00:00:00-05:00    0.877000
2008-12-10 00:00:00-05:00    0.351000
2009-12-09 00:00:00-05:00    0.050000
2010-12-15 00:00:00-05:00    0.280000
2011-12-14 00:00:00-05:00    1.050000
2012-12-13 00:00:00-05:00    0.360000
2013-12-11 00:00:00-05:00    1.020000
2014-12-10 00:00:00-05:00    0.370000
2015-11-19 00:00:00-05:00    0.500000
2016-11-21 00:00:00-05:00    0.112000
2017-11-22 00:00:00-05:00    0.510000
2018-11-21 00:00:00-05:00    0.530000
2019-11-21 00:00:00-05:00    0.074000
2020-12-03 00:00:00-05:00    0.550000
2021-11-18 00:00:00-05:00    0.970000
2022-11-17 00:00:00-05:00    0.370000
2023-11-22 00:00:00-05:00    0.350000
Name: Dividends, dtype: float64, 'IBE': Series([], Name: Dividends, dtype: float64), 'IDR': Series([], Name: Dividends, dtype: float64), 'ITX': Series([], Name: Dividends, dtype: float64), 'IAG': Date
2003-12-16 00:00:00-05:00    0.060
2004-12-16 00:00:00-05:00    0.060
2005-12-29 00:00:00-05:00    0.060
2006-12-18 00:00:00-05:00    0.062
2007-12-20 00:00:00-05:00    0.060
2008-12-22 00:00:00-05:00    0.060
2009-12-22 00:00:00-05:00    0.060
2010-12-21 00:00:00-05:00    0.080
2011-06-30 00:00:00-04:00    0.100
2011-12-16 00:00:00-05:00    0.125
2012-06-29 00:00:00-04:00    0.125
2012-12-19 00:00:00-05:00    0.125
2013-07-01 00:00:00-04:00    0.125
Name: Dividends, dtype: float64}
MAP {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64), 'ENG': Series([], Name: Dividends, dtype: float64), 'ELE': Series([], Name: Dividends, dtype: float64), 'FER': Date
2013-12-10 00:00:00-05:00    0.526653
2014-07-02 00:00:00-04:00    0.388672
2014-11-04 00:00:00-05:00    0.476000
2019-11-06 00:00:00-05:00    0.452000
2020-05-14 00:00:00-04:00    0.338000
2020-11-04 00:00:00-05:00    0.235000
2021-05-13 00:00:00-04:00    0.238000
2021-11-03 00:00:00-04:00    0.353000
2022-05-11 00:00:00-04:00    0.293000
2022-11-03 00:00:00-04:00    0.407000
2023-07-05 00:00:00-04:00    0.312000
2023-10-25 00:00:00-04:00    0.453000
2024-05-20 00:00:00-04:00    0.330000
Name: Dividends, dtype: float64, 'GRF': Date
2004-12-16 00:00:00-05:00    0.170435
2005-12-19 00:00:00-05:00    0.165000
2006-06-22 00:00:00-04:00    0.500000
2006-12-18 00:00:00-05:00    0.687000
2007-12-12 00:00:00-05:00    0.877000
2008-12-10 00:00:00-05:00    0.351000
2009-12-09 00:00:00-05:00    0.050000
2010-12-15 00:00:00-05:00    0.280000
2011-12-14 00:00:00-05:00    1.050000
2012-12-13 00:00:00-05:00    0.360000
2013-12-11 00:00:00-05:00    1.020000
2014-12-10 00:00:00-05:00    0.370000
2015-11-19 00:00:00-05:00    0.500000
2016-11-21 00:00:00-05:00    0.112000
2017-11-22 00:00:00-05:00    0.510000
2018-11-21 00:00:00-05:00    0.530000
2019-11-21 00:00:00-05:00    0.074000
2020-12-03 00:00:00-05:00    0.550000
2021-11-18 00:00:00-05:00    0.970000
2022-11-17 00:00:00-05:00    0.370000
2023-11-22 00:00:00-05:00    0.350000
Name: Dividends, dtype: float64, 'IBE': Series([], Name: Dividends, dtype: float64), 'IDR': Series([], Name: Dividends, dtype: float64), 'ITX': Series([], Name: Dividends, dtype: float64), 'IAG': Date
2003-12-16 00:00:00-05:00    0.060
2004-12-16 00:00:00-05:00    0.060
2005-12-29 00:00:00-05:00    0.060
2006-12-18 00:00:00-05:00    0.062
2007-12-20 00:00:00-05:00    0.060
2008-12-22 00:00:00-05:00    0.060
2009-12-22 00:00:00-05:00    0.060
2010-12-21 00:00:00-05:00    0.080
2011-06-30 00:00:00-04:00    0.100
2011-12-16 00:00:00-05:00    0.125
2012-06-29 00:00:00-04:00    0.125
2012-12-19 00:00:00-05:00    0.125
2013-07-01 00:00:00-04:00    0.125
Name: Dividends, dtype: float64, 'MAP': Series([], Name: Dividends, dtype: float64)}
TL5 {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64), 'ENG': Series([], Name: Dividends, dtype: float64), 'ELE': Series([], Name: Dividends, dtype: float64), 'FER': Date
2013-12-10 00:00:00-05:00    0.526653
2014-07-02 00:00:00-04:00    0.388672
2014-11-04 00:00:00-05:00    0.476000
2019-11-06 00:00:00-05:00    0.452000
2020-05-14 00:00:00-04:00    0.338000
2020-11-04 00:00:00-05:00    0.235000
2021-05-13 00:00:00-04:00    0.238000
2021-11-03 00:00:00-04:00    0.353000
2022-05-11 00:00:00-04:00    0.293000
2022-11-03 00:00:00-04:00    0.407000
2023-07-05 00:00:00-04:00    0.312000
2023-10-25 00:00:00-04:00    0.453000
2024-05-20 00:00:00-04:00    0.330000
Name: Dividends, dtype: float64, 'GRF': Date
2004-12-16 00:00:00-05:00    0.170435
2005-12-19 00:00:00-05:00    0.165000
2006-06-22 00:00:00-04:00    0.500000
2006-12-18 00:00:00-05:00    0.687000
2007-12-12 00:00:00-05:00    0.877000
2008-12-10 00:00:00-05:00    0.351000
2009-12-09 00:00:00-05:00    0.050000
2010-12-15 00:00:00-05:00    0.280000
2011-12-14 00:00:00-05:00    1.050000
2012-12-13 00:00:00-05:00    0.360000
2013-12-11 00:00:00-05:00    1.020000
2014-12-10 00:00:00-05:00    0.370000
2015-11-19 00:00:00-05:00    0.500000
2016-11-21 00:00:00-05:00    0.112000
2017-11-22 00:00:00-05:00    0.510000
2018-11-21 00:00:00-05:00    0.530000
2019-11-21 00:00:00-05:00    0.074000
2020-12-03 00:00:00-05:00    0.550000
2021-11-18 00:00:00-05:00    0.970000
2022-11-17 00:00:00-05:00    0.370000
2023-11-22 00:00:00-05:00    0.350000
Name: Dividends, dtype: float64, 'IBE': Series([], Name: Dividends, dtype: float64), 'IDR': Series([], Name: Dividends, dtype: float64), 'ITX': Series([], Name: Dividends, dtype: float64), 'IAG': Date
2003-12-16 00:00:00-05:00    0.060
2004-12-16 00:00:00-05:00    0.060
2005-12-29 00:00:00-05:00    0.060
2006-12-18 00:00:00-05:00    0.062
2007-12-20 00:00:00-05:00    0.060
2008-12-22 00:00:00-05:00    0.060
2009-12-22 00:00:00-05:00    0.060
2010-12-21 00:00:00-05:00    0.080
2011-06-30 00:00:00-04:00    0.100
2011-12-16 00:00:00-05:00    0.125
2012-06-29 00:00:00-04:00    0.125
2012-12-19 00:00:00-05:00    0.125
2013-07-01 00:00:00-04:00    0.125
Name: Dividends, dtype: float64, 'MAP': Series([], Name: Dividends, dtype: float64), 'TL5': Series([], dtype: object)}

$NTGY: possibly delisted; no timezone found

MEL {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64), 'ENG': Series([], Name: Dividends, dtype: float64), 'ELE': Series([], Name: Dividends, dtype: float64), 'FER': Date
2013-12-10 00:00:00-05:00    0.526653
2014-07-02 00:00:00-04:00    0.388672
2014-11-04 00:00:00-05:00    0.476000
2019-11-06 00:00:00-05:00    0.452000
2020-05-14 00:00:00-04:00    0.338000
2020-11-04 00:00:00-05:00    0.235000
2021-05-13 00:00:00-04:00    0.238000
2021-11-03 00:00:00-04:00    0.353000
2022-05-11 00:00:00-04:00    0.293000
2022-11-03 00:00:00-04:00    0.407000
2023-07-05 00:00:00-04:00    0.312000
2023-10-25 00:00:00-04:00    0.453000
2024-05-20 00:00:00-04:00    0.330000
Name: Dividends, dtype: float64, 'GRF': Date
2004-12-16 00:00:00-05:00    0.170435
2005-12-19 00:00:00-05:00    0.165000
2006-06-22 00:00:00-04:00    0.500000
2006-12-18 00:00:00-05:00    0.687000
2007-12-12 00:00:00-05:00    0.877000
2008-12-10 00:00:00-05:00    0.351000
2009-12-09 00:00:00-05:00    0.050000
2010-12-15 00:00:00-05:00    0.280000
2011-12-14 00:00:00-05:00    1.050000
2012-12-13 00:00:00-05:00    0.360000
2013-12-11 00:00:00-05:00    1.020000
2014-12-10 00:00:00-05:00    0.370000
2015-11-19 00:00:00-05:00    0.500000
2016-11-21 00:00:00-05:00    0.112000
2017-11-22 00:00:00-05:00    0.510000
2018-11-21 00:00:00-05:00    0.530000
2019-11-21 00:00:00-05:00    0.074000
2020-12-03 00:00:00-05:00    0.550000
2021-11-18 00:00:00-05:00    0.970000
2022-11-17 00:00:00-05:00    0.370000
2023-11-22 00:00:00-05:00    0.350000
Name: Dividends, dtype: float64, 'IBE': Series([], Name: Dividends, dtype: float64), 'IDR': Series([], Name: Dividends, dtype: float64), 'ITX': Series([], Name: Dividends, dtype: float64), 'IAG': Date
2003-12-16 00:00:00-05:00    0.060
2004-12-16 00:00:00-05:00    0.060
2005-12-29 00:00:00-05:00    0.060
2006-12-18 00:00:00-05:00    0.062
2007-12-20 00:00:00-05:00    0.060
2008-12-22 00:00:00-05:00    0.060
2009-12-22 00:00:00-05:00    0.060
2010-12-21 00:00:00-05:00    0.080
2011-06-30 00:00:00-04:00    0.100
2011-12-16 00:00:00-05:00    0.125
2012-06-29 00:00:00-04:00    0.125
2012-12-19 00:00:00-05:00    0.125
2013-07-01 00:00:00-04:00    0.125
Name: Dividends, dtype: float64, 'MAP': Series([], Name: Dividends, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Dividends, dtype: float64)}
MRL {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64), 'ENG': Series([], Name: Dividends, dtype: float64), 'ELE': Series([], Name: Dividends, dtype: float64), 'FER': Date
2013-12-10 00:00:00-05:00    0.526653
2014-07-02 00:00:00-04:00    0.388672
2014-11-04 00:00:00-05:00    0.476000
2019-11-06 00:00:00-05:00    0.452000
2020-05-14 00:00:00-04:00    0.338000
2020-11-04 00:00:00-05:00    0.235000
2021-05-13 00:00:00-04:00    0.238000
2021-11-03 00:00:00-04:00    0.353000
2022-05-11 00:00:00-04:00    0.293000
2022-11-03 00:00:00-04:00    0.407000
2023-07-05 00:00:00-04:00    0.312000
2023-10-25 00:00:00-04:00    0.453000
2024-05-20 00:00:00-04:00    0.330000
Name: Dividends, dtype: float64, 'GRF': Date
2004-12-16 00:00:00-05:00    0.170435
2005-12-19 00:00:00-05:00    0.165000
2006-06-22 00:00:00-04:00    0.500000
2006-12-18 00:00:00-05:00    0.687000
2007-12-12 00:00:00-05:00    0.877000
2008-12-10 00:00:00-05:00    0.351000
2009-12-09 00:00:00-05:00    0.050000
2010-12-15 00:00:00-05:00    0.280000
2011-12-14 00:00:00-05:00    1.050000
2012-12-13 00:00:00-05:00    0.360000
2013-12-11 00:00:00-05:00    1.020000
2014-12-10 00:00:00-05:00    0.370000
2015-11-19 00:00:00-05:00    0.500000
2016-11-21 00:00:00-05:00    0.112000
2017-11-22 00:00:00-05:00    0.510000
2018-11-21 00:00:00-05:00    0.530000
2019-11-21 00:00:00-05:00    0.074000
2020-12-03 00:00:00-05:00    0.550000
2021-11-18 00:00:00-05:00    0.970000
2022-11-17 00:00:00-05:00    0.370000
2023-11-22 00:00:00-05:00    0.350000
Name: Dividends, dtype: float64, 'IBE': Series([], Name: Dividends, dtype: float64), 'IDR': Series([], Name: Dividends, dtype: float64), 'ITX': Series([], Name: Dividends, dtype: float64), 'IAG': Date
2003-12-16 00:00:00-05:00    0.060
2004-12-16 00:00:00-05:00    0.060
2005-12-29 00:00:00-05:00    0.060
2006-12-18 00:00:00-05:00    0.062
2007-12-20 00:00:00-05:00    0.060
2008-12-22 00:00:00-05:00    0.060
2009-12-22 00:00:00-05:00    0.060
2010-12-21 00:00:00-05:00    0.080
2011-06-30 00:00:00-04:00    0.100
2011-12-16 00:00:00-05:00    0.125
2012-06-29 00:00:00-04:00    0.125
2012-12-19 00:00:00-05:00    0.125
2013-07-01 00:00:00-04:00    0.125
Name: Dividends, dtype: float64, 'MAP': Series([], Name: Dividends, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Dividends, dtype: float64), 'MRL': Series([], Name: Dividends, dtype: float64)}
NTGY {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64), 'ENG': Series([], Name: Dividends, dtype: float64), 'ELE': Series([], Name: Dividends, dtype: float64), 'FER': Date
2013-12-10 00:00:00-05:00    0.526653
2014-07-02 00:00:00-04:00    0.388672
2014-11-04 00:00:00-05:00    0.476000
2019-11-06 00:00:00-05:00    0.452000
2020-05-14 00:00:00-04:00    0.338000
2020-11-04 00:00:00-05:00    0.235000
2021-05-13 00:00:00-04:00    0.238000
2021-11-03 00:00:00-04:00    0.353000
2022-05-11 00:00:00-04:00    0.293000
2022-11-03 00:00:00-04:00    0.407000
2023-07-05 00:00:00-04:00    0.312000
2023-10-25 00:00:00-04:00    0.453000
2024-05-20 00:00:00-04:00    0.330000
Name: Dividends, dtype: float64, 'GRF': Date
2004-12-16 00:00:00-05:00    0.170435
2005-12-19 00:00:00-05:00    0.165000
2006-06-22 00:00:00-04:00    0.500000
2006-12-18 00:00:00-05:00    0.687000
2007-12-12 00:00:00-05:00    0.877000
2008-12-10 00:00:00-05:00    0.351000
2009-12-09 00:00:00-05:00    0.050000
2010-12-15 00:00:00-05:00    0.280000
2011-12-14 00:00:00-05:00    1.050000
2012-12-13 00:00:00-05:00    0.360000
2013-12-11 00:00:00-05:00    1.020000
2014-12-10 00:00:00-05:00    0.370000
2015-11-19 00:00:00-05:00    0.500000
2016-11-21 00:00:00-05:00    0.112000
2017-11-22 00:00:00-05:00    0.510000
2018-11-21 00:00:00-05:00    0.530000
2019-11-21 00:00:00-05:00    0.074000
2020-12-03 00:00:00-05:00    0.550000
2021-11-18 00:00:00-05:00    0.970000
2022-11-17 00:00:00-05:00    0.370000
2023-11-22 00:00:00-05:00    0.350000
Name: Dividends, dtype: float64, 'IBE': Series([], Name: Dividends, dtype: float64), 'IDR': Series([], Name: Dividends, dtype: float64), 'ITX': Series([], Name: Dividends, dtype: float64), 'IAG': Date
2003-12-16 00:00:00-05:00    0.060
2004-12-16 00:00:00-05:00    0.060
2005-12-29 00:00:00-05:00    0.060
2006-12-18 00:00:00-05:00    0.062
2007-12-20 00:00:00-05:00    0.060
2008-12-22 00:00:00-05:00    0.060
2009-12-22 00:00:00-05:00    0.060
2010-12-21 00:00:00-05:00    0.080
2011-06-30 00:00:00-04:00    0.100
2011-12-16 00:00:00-05:00    0.125
2012-06-29 00:00:00-04:00    0.125
2012-12-19 00:00:00-05:00    0.125
2013-07-01 00:00:00-04:00    0.125
Name: Dividends, dtype: float64, 'MAP': Series([], Name: Dividends, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Dividends, dtype: float64), 'MRL': Series([], Name: Dividends, dtype: float64), 'NTGY': Series([], dtype: object)}

$SGRE: possibly delisted; no timezone found

RED {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64), 'ENG': Series([], Name: Dividends, dtype: float64), 'ELE': Series([], Name: Dividends, dtype: float64), 'FER': Date
2013-12-10 00:00:00-05:00    0.526653
2014-07-02 00:00:00-04:00    0.388672
2014-11-04 00:00:00-05:00    0.476000
2019-11-06 00:00:00-05:00    0.452000
2020-05-14 00:00:00-04:00    0.338000
2020-11-04 00:00:00-05:00    0.235000
2021-05-13 00:00:00-04:00    0.238000
2021-11-03 00:00:00-04:00    0.353000
2022-05-11 00:00:00-04:00    0.293000
2022-11-03 00:00:00-04:00    0.407000
2023-07-05 00:00:00-04:00    0.312000
2023-10-25 00:00:00-04:00    0.453000
2024-05-20 00:00:00-04:00    0.330000
Name: Dividends, dtype: float64, 'GRF': Date
2004-12-16 00:00:00-05:00    0.170435
2005-12-19 00:00:00-05:00    0.165000
2006-06-22 00:00:00-04:00    0.500000
2006-12-18 00:00:00-05:00    0.687000
2007-12-12 00:00:00-05:00    0.877000
2008-12-10 00:00:00-05:00    0.351000
2009-12-09 00:00:00-05:00    0.050000
2010-12-15 00:00:00-05:00    0.280000
2011-12-14 00:00:00-05:00    1.050000
2012-12-13 00:00:00-05:00    0.360000
2013-12-11 00:00:00-05:00    1.020000
2014-12-10 00:00:00-05:00    0.370000
2015-11-19 00:00:00-05:00    0.500000
2016-11-21 00:00:00-05:00    0.112000
2017-11-22 00:00:00-05:00    0.510000
2018-11-21 00:00:00-05:00    0.530000
2019-11-21 00:00:00-05:00    0.074000
2020-12-03 00:00:00-05:00    0.550000
2021-11-18 00:00:00-05:00    0.970000
2022-11-17 00:00:00-05:00    0.370000
2023-11-22 00:00:00-05:00    0.350000
Name: Dividends, dtype: float64, 'IBE': Series([], Name: Dividends, dtype: float64), 'IDR': Series([], Name: Dividends, dtype: float64), 'ITX': Series([], Name: Dividends, dtype: float64), 'IAG': Date
2003-12-16 00:00:00-05:00    0.060
2004-12-16 00:00:00-05:00    0.060
2005-12-29 00:00:00-05:00    0.060
2006-12-18 00:00:00-05:00    0.062
2007-12-20 00:00:00-05:00    0.060
2008-12-22 00:00:00-05:00    0.060
2009-12-22 00:00:00-05:00    0.060
2010-12-21 00:00:00-05:00    0.080
2011-06-30 00:00:00-04:00    0.100
2011-12-16 00:00:00-05:00    0.125
2012-06-29 00:00:00-04:00    0.125
2012-12-19 00:00:00-05:00    0.125
2013-07-01 00:00:00-04:00    0.125
Name: Dividends, dtype: float64, 'MAP': Series([], Name: Dividends, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Dividends, dtype: float64), 'MRL': Series([], Name: Dividends, dtype: float64), 'NTGY': Series([], dtype: object), 'RED': Series([], Name: Dividends, dtype: float64)}
REP {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64), 'ENG': Series([], Name: Dividends, dtype: float64), 'ELE': Series([], Name: Dividends, dtype: float64), 'FER': Date
2013-12-10 00:00:00-05:00    0.526653
2014-07-02 00:00:00-04:00    0.388672
2014-11-04 00:00:00-05:00    0.476000
2019-11-06 00:00:00-05:00    0.452000
2020-05-14 00:00:00-04:00    0.338000
2020-11-04 00:00:00-05:00    0.235000
2021-05-13 00:00:00-04:00    0.238000
2021-11-03 00:00:00-04:00    0.353000
2022-05-11 00:00:00-04:00    0.293000
2022-11-03 00:00:00-04:00    0.407000
2023-07-05 00:00:00-04:00    0.312000
2023-10-25 00:00:00-04:00    0.453000
2024-05-20 00:00:00-04:00    0.330000
Name: Dividends, dtype: float64, 'GRF': Date
2004-12-16 00:00:00-05:00    0.170435
2005-12-19 00:00:00-05:00    0.165000
2006-06-22 00:00:00-04:00    0.500000
2006-12-18 00:00:00-05:00    0.687000
2007-12-12 00:00:00-05:00    0.877000
2008-12-10 00:00:00-05:00    0.351000
2009-12-09 00:00:00-05:00    0.050000
2010-12-15 00:00:00-05:00    0.280000
2011-12-14 00:00:00-05:00    1.050000
2012-12-13 00:00:00-05:00    0.360000
2013-12-11 00:00:00-05:00    1.020000
2014-12-10 00:00:00-05:00    0.370000
2015-11-19 00:00:00-05:00    0.500000
2016-11-21 00:00:00-05:00    0.112000
2017-11-22 00:00:00-05:00    0.510000
2018-11-21 00:00:00-05:00    0.530000
2019-11-21 00:00:00-05:00    0.074000
2020-12-03 00:00:00-05:00    0.550000
2021-11-18 00:00:00-05:00    0.970000
2022-11-17 00:00:00-05:00    0.370000
2023-11-22 00:00:00-05:00    0.350000
Name: Dividends, dtype: float64, 'IBE': Series([], Name: Dividends, dtype: float64), 'IDR': Series([], Name: Dividends, dtype: float64), 'ITX': Series([], Name: Dividends, dtype: float64), 'IAG': Date
2003-12-16 00:00:00-05:00    0.060
2004-12-16 00:00:00-05:00    0.060
2005-12-29 00:00:00-05:00    0.060
2006-12-18 00:00:00-05:00    0.062
2007-12-20 00:00:00-05:00    0.060
2008-12-22 00:00:00-05:00    0.060
2009-12-22 00:00:00-05:00    0.060
2010-12-21 00:00:00-05:00    0.080
2011-06-30 00:00:00-04:00    0.100
2011-12-16 00:00:00-05:00    0.125
2012-06-29 00:00:00-04:00    0.125
2012-12-19 00:00:00-05:00    0.125
2013-07-01 00:00:00-04:00    0.125
Name: Dividends, dtype: float64, 'MAP': Series([], Name: Dividends, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Dividends, dtype: float64), 'MRL': Series([], Name: Dividends, dtype: float64), 'NTGY': Series([], dtype: object), 'RED': Series([], Name: Dividends, dtype: float64), 'REP': Series([], Name: Dividends, dtype: float64)}
SGRE {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64), 'ENG': Series([], Name: Dividends, dtype: float64), 'ELE': Series([], Name: Dividends, dtype: float64), 'FER': Date
2013-12-10 00:00:00-05:00    0.526653
2014-07-02 00:00:00-04:00    0.388672
2014-11-04 00:00:00-05:00    0.476000
2019-11-06 00:00:00-05:00    0.452000
2020-05-14 00:00:00-04:00    0.338000
2020-11-04 00:00:00-05:00    0.235000
2021-05-13 00:00:00-04:00    0.238000
2021-11-03 00:00:00-04:00    0.353000
2022-05-11 00:00:00-04:00    0.293000
2022-11-03 00:00:00-04:00    0.407000
2023-07-05 00:00:00-04:00    0.312000
2023-10-25 00:00:00-04:00    0.453000
2024-05-20 00:00:00-04:00    0.330000
Name: Dividends, dtype: float64, 'GRF': Date
2004-12-16 00:00:00-05:00    0.170435
2005-12-19 00:00:00-05:00    0.165000
2006-06-22 00:00:00-04:00    0.500000
2006-12-18 00:00:00-05:00    0.687000
2007-12-12 00:00:00-05:00    0.877000
2008-12-10 00:00:00-05:00    0.351000
2009-12-09 00:00:00-05:00    0.050000
2010-12-15 00:00:00-05:00    0.280000
2011-12-14 00:00:00-05:00    1.050000
2012-12-13 00:00:00-05:00    0.360000
2013-12-11 00:00:00-05:00    1.020000
2014-12-10 00:00:00-05:00    0.370000
2015-11-19 00:00:00-05:00    0.500000
2016-11-21 00:00:00-05:00    0.112000
2017-11-22 00:00:00-05:00    0.510000
2018-11-21 00:00:00-05:00    0.530000
2019-11-21 00:00:00-05:00    0.074000
2020-12-03 00:00:00-05:00    0.550000
2021-11-18 00:00:00-05:00    0.970000
2022-11-17 00:00:00-05:00    0.370000
2023-11-22 00:00:00-05:00    0.350000
Name: Dividends, dtype: float64, 'IBE': Series([], Name: Dividends, dtype: float64), 'IDR': Series([], Name: Dividends, dtype: float64), 'ITX': Series([], Name: Dividends, dtype: float64), 'IAG': Date
2003-12-16 00:00:00-05:00    0.060
2004-12-16 00:00:00-05:00    0.060
2005-12-29 00:00:00-05:00    0.060
2006-12-18 00:00:00-05:00    0.062
2007-12-20 00:00:00-05:00    0.060
2008-12-22 00:00:00-05:00    0.060
2009-12-22 00:00:00-05:00    0.060
2010-12-21 00:00:00-05:00    0.080
2011-06-30 00:00:00-04:00    0.100
2011-12-16 00:00:00-05:00    0.125
2012-06-29 00:00:00-04:00    0.125
2012-12-19 00:00:00-05:00    0.125
2013-07-01 00:00:00-04:00    0.125
Name: Dividends, dtype: float64, 'MAP': Series([], Name: Dividends, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Dividends, dtype: float64), 'MRL': Series([], Name: Dividends, dtype: float64), 'NTGY': Series([], dtype: object), 'RED': Series([], Name: Dividends, dtype: float64), 'REP': Series([], Name: Dividends, dtype: float64), 'SGRE': Series([], dtype: object)}
TRE {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date
2001-03-13 00:00:00-05:00    0.100
2002-03-13 00:00:00-05:00    0.120
2003-03-12 00:00:00-05:00    0.120
2003-09-29 00:00:00-04:00    0.040
2003-12-30 00:00:00-05:00    0.040
2004-03-31 00:00:00-05:00    0.040
2004-06-30 00:00:00-04:00    0.043
2004-09-29 00:00:00-04:00    0.045
2004-12-30 00:00:00-05:00    0.045
2005-03-31 00:00:00-05:00    0.045
2005-06-29 00:00:00-04:00    0.048
2005-09-29 00:00:00-04:00    0.048
2005-12-28 00:00:00-05:00    0.048
2006-03-30 00:00:00-05:00    0.048
2006-06-29 00:00:00-04:00    0.048
2006-09-28 00:00:00-04:00    0.048
2006-12-28 00:00:00-05:00    0.048
2007-03-29 00:00:00-04:00    0.048
2007-06-28 00:00:00-04:00    0.048
Name: Dividends, dtype: float64, 'BBVA': Date
1989-07-10 00:00:00-04:00    0.022366
1989-10-10 00:00:00-04:00    0.022151
1990-01-08 00:00:00-05:00    0.024086
1990-04-09 00:00:00-04:00    0.037850
1990-07-03 00:00:00-04:00    0.028925
                               ...
2022-10-07 00:00:00-04:00    0.117000
2023-04-03 00:00:00-04:00    0.333000
2023-10-06 00:00:00-04:00    0.169000
2024-04-08 00:00:00-04:00    0.425000
2024-10-09 00:00:00-04:00    0.324000
Name: Dividends, Length: 122, dtype: float64, 'SAB': Series([], Name: Dividends, dtype: float64), 'SAN': Date
1988-04-25 00:00:00-04:00    0.037827
1988-10-24 00:00:00-04:00    0.019363
1989-04-24 00:00:00-04:00    0.044444
1989-10-25 00:00:00-04:00    0.052042
1990-04-24 00:00:00-04:00    0.065523
                               ...
2022-04-28 00:00:00-04:00    0.057000
2022-10-31 00:00:00-04:00    0.056000
2023-04-27 00:00:00-04:00    0.063000
2023-10-31 00:00:00-04:00    0.085000
2024-04-29 00:00:00-04:00    0.103000
Name: Dividends, Length: 128, dtype: float64, 'BKT': Date
1988-09-16 00:00:00-04:00    0.276
1988-10-07 00:00:00-04:00    0.276
1988-11-08 00:00:00-05:00    0.276
1988-12-09 00:00:00-05:00    0.276
1989-01-10 00:00:00-05:00    0.276
                             ...
2024-06-14 00:00:00-04:00    0.088
2024-07-15 00:00:00-04:00    0.088
2024-08-15 00:00:00-04:00    0.088
2024-09-16 00:00:00-04:00    0.088
2024-10-15 00:00:00-04:00    0.088
Name: Dividends, Length: 436, dtype: float64, 'CABK': Series([], Name: Dividends, dtype: float64), 'CLNX': Series([], Name: Dividends, dtype: float64), 'ENG': Series([], Name: Dividends, dtype: float64), 'ELE': Series([], Name: Dividends, dtype: float64), 'FER': Date
2013-12-10 00:00:00-05:00    0.526653
2014-07-02 00:00:00-04:00    0.388672
2014-11-04 00:00:00-05:00    0.476000
2019-11-06 00:00:00-05:00    0.452000
2020-05-14 00:00:00-04:00    0.338000
2020-11-04 00:00:00-05:00    0.235000
2021-05-13 00:00:00-04:00    0.238000
2021-11-03 00:00:00-04:00    0.353000
2022-05-11 00:00:00-04:00    0.293000
2022-11-03 00:00:00-04:00    0.407000
2023-07-05 00:00:00-04:00    0.312000
2023-10-25 00:00:00-04:00    0.453000
2024-05-20 00:00:00-04:00    0.330000
Name: Dividends, dtype: float64, 'GRF': Date
2004-12-16 00:00:00-05:00    0.170435
2005-12-19 00:00:00-05:00    0.165000
2006-06-22 00:00:00-04:00    0.500000
2006-12-18 00:00:00-05:00    0.687000
2007-12-12 00:00:00-05:00    0.877000
2008-12-10 00:00:00-05:00    0.351000
2009-12-09 00:00:00-05:00    0.050000
2010-12-15 00:00:00-05:00    0.280000
2011-12-14 00:00:00-05:00    1.050000
2012-12-13 00:00:00-05:00    0.360000
2013-12-11 00:00:00-05:00    1.020000
2014-12-10 00:00:00-05:00    0.370000
2015-11-19 00:00:00-05:00    0.500000
2016-11-21 00:00:00-05:00    0.112000
2017-11-22 00:00:00-05:00    0.510000
2018-11-21 00:00:00-05:00    0.530000
2019-11-21 00:00:00-05:00    0.074000
2020-12-03 00:00:00-05:00    0.550000
2021-11-18 00:00:00-05:00    0.970000
2022-11-17 00:00:00-05:00    0.370000
2023-11-22 00:00:00-05:00    0.350000
Name: Dividends, dtype: float64, 'IBE': Series([], Name: Dividends, dtype: float64), 'IDR': Series([], Name: Dividends, dtype: float64), 'ITX': Series([], Name: Dividends, dtype: float64), 'IAG': Date
2003-12-16 00:00:00-05:00    0.060
2004-12-16 00:00:00-05:00    0.060
2005-12-29 00:00:00-05:00    0.060
2006-12-18 00:00:00-05:00    0.062
2007-12-20 00:00:00-05:00    0.060
2008-12-22 00:00:00-05:00    0.060
2009-12-22 00:00:00-05:00    0.060
2010-12-21 00:00:00-05:00    0.080
2011-06-30 00:00:00-04:00    0.100
2011-12-16 00:00:00-05:00    0.125
2012-06-29 00:00:00-04:00    0.125
2012-12-19 00:00:00-05:00    0.125
2013-07-01 00:00:00-04:00    0.125
Name: Dividends, dtype: float64, 'MAP': Series([], Name: Dividends, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Dividends, dtype: float64), 'MRL': Series([], Name: Dividends, dtype: float64), 'NTGY': Series([], dtype: object), 'RED': Series([], Name: Dividends, dtype: float64), 'REP': Series([], Name: Dividends, dtype: float64), 'SGRE': Series([], dtype: object), 'TRE': Series([], Name: Dividends, dtype: float64)}
TEF {'ANA': Series([], Name: Dividends, dtype: float64), 'ACX': Series([], Name: Dividends, dtype: float64), 'ACS': Series([], Name: Dividends, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Date

## Splits

In [97]:
split_info = {}

for i in stock_2:
    stock = yf.Ticker(i)
    split = stock.splits
    split_info[i] = split

    print(i,split_info)

ANA {'ANA': Series([], Name: Stock Splits, dtype: float64)}
ACX {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64)}

$AENA: possibly delisted; no timezone found

ACS {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64)}
AENA {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object)}
AMS {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64)}
BBVA {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64}
SAB {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64)}
SAN {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64}
BKT {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64}
CABK {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64)}
CLNX {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64)}
ENG {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64}
ELE {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64)}
FER {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64}
GRF {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64}
IBE {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64)}
IDR {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64}
ITX {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64)}
IAG {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64), 'IAG': Series([], Name: Stock Splits, dtype: float64)}
MAP {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64), 'IAG': Series([], Name: Stock Splits, dtype: float64), 'MAP': Series([], Name: Stock Splits, dtype: float64)}

$TL5: possibly delisted; no timezone found

TL5 {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64), 'IAG': Series([], Name: Stock Splits, dtype: float64), 'MAP': Series([], Name: Stock Splits, dtype: float64), 'TL5': Series([], dtype: object)}
MEL {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64), 'IAG': Series([], Name: Stock Splits, dtype: float64), 'MAP': Series([], Name: Stock Splits, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Stock Splits, dtype: float64)}

$NTGY: possibly delisted; no timezone found

MRL {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64), 'IAG': Series([], Name: Stock Splits, dtype: float64), 'MAP': Series([], Name: Stock Splits, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Stock Splits, dtype: float64), 'MRL': Series([], Name: Stock Splits, dtype: float64)}
NTGY {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64), 'IAG': Series([], Name: Stock Splits, dtype: float64), 'MAP': Series([], Name: Stock Splits, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Stock Splits, dtype: float64), 'MRL': Series([], Name: Stock Splits, dtype: float64), 'NTGY': Series([], dtype: object)}
RED {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64), 'IAG': Series([], Name: Stock Splits, dtype: float64), 'MAP': Series([], Name: Stock Splits, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Stock Splits, dtype: float64), 'MRL': Series([], Name: Stock Splits, dtype: float64), 'NTGY': Series([], dtype: object), 'RED': Series([], Name: Stock Splits, dtype: float64)}
REP {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64), 'IAG': Series([], Name: Stock Splits, dtype: float64), 'MAP': Series([], Name: Stock Splits, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Stock Splits, dtype: float64), 'MRL': Series([], Name: Stock Splits, dtype: float64), 'NTGY': Series([], dtype: object), 'RED': Series([], Name: Stock Splits, dtype: float64), 'REP': Series([], Name: Stock Splits, dtype: float64)}

$SGRE: possibly delisted; no timezone found

SGRE {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64), 'IAG': Series([], Name: Stock Splits, dtype: float64), 'MAP': Series([], Name: Stock Splits, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Stock Splits, dtype: float64), 'MRL': Series([], Name: Stock Splits, dtype: float64), 'NTGY': Series([], dtype: object), 'RED': Series([], Name: Stock Splits, dtype: float64), 'REP': Series([], Name: Stock Splits, dtype: float64), 'SGRE': Series([], dtype: object)}
TRE {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64), 'IAG': Series([], Name: Stock Splits, dtype: float64), 'MAP': Series([], Name: Stock Splits, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Stock Splits, dtype: float64), 'MRL': Series([], Name: Stock Splits, dtype: float64), 'NTGY': Series([], dtype: object), 'RED': Series([], Name: Stock Splits, dtype: float64), 'REP': Series([], Name: Stock Splits, dtype: float64), 'SGRE': Series([], dtype: object), 'TRE': Series([], Name: Stock Splits, dtype: float64)}
TEF {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64), 'IAG': Series([], Name: Stock Splits, dtype: float64), 'MAP': Series([], Name: Stock Splits, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Stock Splits, dtype: float64), 'MRL': Series([], Name: Stock Splits, dtype: float64), 'NTGY': Series([], dtype: object), 'RED': Series([], Name: Stock Splits, dtype: float64), 'REP': Series([], Name: Stock Splits, dtype: float64), 'SGRE': Series([], dtype: object), 'TRE': Series([], Name: Stock Splits, dtype: float64), 'TEF': Date
1998-12-24 00:00:00-05:00    1.02
1999-04-15 00:00:00-04:00    1.02
1999-07-27 00:00:00-04:00    3.00
1999-11-02 00:00:00-05:00    1.02
2001-01-02 00:00:00-05:00    1.02
2001-03-01 00:00:00-05:00    1.02
2002-01-22 00:00:00-05:00    1.02
2002-03-19 00:00:00-05:00    1.02
2003-03-06 00:00:00-05:00    1.02
2005-06-16 00:00:00-04:00    1.04
2011-01-21 00:00:00-05:00    3.00
Name: Stock Splits, dtype: float64}
VIS {'ANA': Series([], Name: Stock Splits, dtype: float64), 'ACX': Series([], Name: Stock Splits, dtype: float64), 'ACS': Series([], Name: Stock Splits, dtype: float64), 'AENA': Series([], dtype: object), 'AMS': Series([], Name: Stock Splits, dtype: float64), 'BBVA': Date
1997-07-22 00:00:00-04:00    3.000000
1998-07-14 00:00:00-04:00    3.000000
2009-04-07 00:00:00-04:00    1.016100
2011-03-29 00:00:00-04:00    1.016949
Name: Stock Splits, dtype: float64, 'SAB': Series([], Name: Stock Splits, dtype: float64), 'SAN': Date
1997-06-23 00:00:00-04:00    3.00
1998-07-06 00:00:00-04:00    2.00
1998-08-18 00:00:00-04:00    1.02
1999-06-21 00:00:00-04:00    2.00
Name: Stock Splits, dtype: float64, 'BKT': Date
2022-10-18 00:00:00-04:00    0.333333
Name: Stock Splits, dtype: float64, 'CABK': Series([], Name: Stock Splits, dtype: float64), 'CLNX': Series([], Name: Stock Splits, dtype: float64), 'ENG': Date
2023-12-01 00:00:00-05:00    0.125
Name: Stock Splits, dtype: float64, 'ELE': Series([], Name: Stock Splits, dtype: float64), 'FER': Date
2014-07-02 00:00:00-04:00    1.018
2014-11-04 00:00:00-05:00    1.024
Name: Stock Splits, dtype: float64, 'GRF': Date
2005-05-11 00:00:00-04:00    1.15
Name: Stock Splits, dtype: float64, 'IBE': Series([], Name: Stock Splits, dtype: float64), 'IDR': Date
2021-12-06 00:00:00-05:00    0.071429
Name: Stock Splits, dtype: float64, 'ITX': Series([], Name: Stock Splits, dtype: float64), 'IAG': Series([], Name: Stock Splits, dtype: float64), 'MAP': Series([], Name: Stock Splits, dtype: float64), 'TL5': Series([], dtype: object), 'MEL': Series([], Name: Stock Splits, dtype: float64), 'MRL': Series([], Name: Stock Splits, dtype: float64), 'NTGY': Series([], dtype: object), 'RED': Series([], Name: Stock Splits, dtype: float64), 'REP': Series([], Name: Stock Splits, dtype: float64), 'SGRE': Series([], dtype: object), 'TRE': Series([], Name: Stock Splits, dtype: float64), 'TEF': Date
1998-12-24 00:00:00-05:00    1.02
1999-04-15 00:00:00-04:00    1.02
1999-07-27 00:00:00-04:00    3.00
1999-11-02 00:00:00-05:00    1.02
2001-01-02 00:00:00-05:00    1.02
2001-03-01 00:00:00-05:00    1.02
2002-01-22 00:00:00-05:00    1.02
2002-03-19 00:00:00-05:00    1.02
2003-03-06 00:00:00-05:00    1.02
2005-06-16 00:00:00-04:00    1.04
2011-01-21 00:00:00-05:00    3.00
Name: Stock Splits, dtype: float64, 'VIS': Series([], Name: Stock Splits, dtype: float64)}